*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    min-height: 100vh;
    min-width: 100vw;
    font-size: 60px;
    text-transform: capitalize;
    color: whitesmoke;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}
.facebook{
    background: url(./image/facebook.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.lantern{
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)),
    url(./image/lantern.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.sky{
    background: url(./image/sky.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
a{
    text-decoration: none;
    color: whitesmoke;
}